.hero{
	display:flex;
	justify-content:center;
	align-items:center;
	gap:30px;
	text-align:center;
}
img{
	width:550px;
	height:300px;
	object-fit:cover;
}
button{
	background-color:red;
	color:white;
	border:none;
	border-radius:6px;
	padding:10px;
}
